---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="flex">
	<a href={href} class="border-2 hover:shadow-md hover:scale-[101%] transition-all rounded-md px-4 py-6">
		<h2 class="text-2xl mb-2">
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>