---
import { getLangFromUrl, useTranslations, type UiType } from "../i18n/utils";
import LangSwitch from "./LangSwitch.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as UiType);
---

<footer class="bg-gray py-4">
  <div class="container">
    <div class="flex justify-between items-center">
      <a
        data-astro-prefetch
        href={`/${lang}/`}
        class="flex gap-1 font-semibold text-white"
        ><img
          src="/favicon.svg"
          alt="spark logo"
          width="20"
          height="20"
          loading="eager"
        />Spark</a
      >
      <LangSwitch />
    </div>
    <small class="text-white">
      &copy; {t("footer.copyright", new Date().getFullYear())}
      {t("footer.createdBy")}
      <b
        ><a href="https://www.rubenwinant.be" target="_blank" class="link"
          >Ruben Winant</a
        ></b
      >
      {t("footer.createdBy2")}
    </small>
  </div>
</footer>
