---
const { title, description, ctaTitle, ctaLink } = Astro.props;
---

<div class="relative flex justify-center">
  <div
    class="absolute top-0 bottom-0 w-screen bg-gradient-to-tr from-primary to-secondary"
  >
  </div>
  <div class="text-white z-10 py-12 px-4 text-center">
    <h2>{title}</h2>
    <p class="mb-6">{description}</p>
    <a class="btn-flat-white" href={ctaLink}>{ctaTitle}</a>
  </div>
</div>
