---
import { LOCALES, getLocalizedPathname } from "../i18n/utils";

const { pathname } = Astro.url;

const lang = Astro.params?.lang || "nl";
---

<ul class="flex gap-1 w-min">
  {
    Object.keys(LOCALES).map((key) => (
      <li class="flex items-center text-white">
        {lang === key ? (
          <span class="fancy p-2 font-semibold">{key}</span>
        ) : (
          <a class="p-2" href={getLocalizedPathname(pathname, key)}>
            {key}
          </a>
        )}
      </li>
    ))
  }
</ul>
