---
import { LOCALES, getLocalizedPathname } from "../i18n/utils";

const { pathname } = Astro.url;

const lang = Astro.params?.lang || "nl";
---

<ul class="flex gap-1 w-min">
  {
    Object.keys(LOCALES).map((key) => (
      <li class="flex items-center text-white">
        <a
          class="w-full px-2 py-1"
          class:list={[{ "fancy px-4 py-1 font-semibold": lang === key }]}
          href={getLocalizedPathname(pathname, key)}
        >
          {key}
        </a>
      </li>
    ))
  }
</ul>
