---
import DropdownItem from "../../components/DropdownItem.astro";
import { getLangFromUrl, useTranslations, LOCALES } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const prerender = true;
export async function getStaticPaths() {
  return Object.keys(LOCALES).map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout title={t("layout.test")} lang={lang}>
  <main class="container mx-auto">
    <section>
      <h1>{t("faq.title")}</h1>
      <p>{t("faq.description")}</p>
    </section>

    <section class="flex flex-col gap-2">
      <DropdownItem title="faq.why" content="faq.reason_why" />
      <DropdownItem title="faq.who" content="faq.reason_who" />
      <DropdownItem title="faq.tech" content="faq.reason_tech" />
      <a
        data-astro-prefetch
        href={`/${lang}/contact`}
        class="listCard px-6 py-4 font-semibold"
        >{t("faq.contact")} <span class="fancy">{t("faq.contactUs")} </span></a
      >
    </section>
  </main>
</Layout>
