---
import IconCard from "../../components/IconCard.astro";
import { getLangFromUrl, useTranslations, LOCALES } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const prerender = true;
export async function getStaticPaths() {
  return Object.keys(LOCALES).map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout title={t("layout.test")} lang={lang}>
  <main class="container mx-auto">
    <section class="flex items-center gap-8">
      <div>
        <h1>
          <span class="fancy">Spark</span>, {t("hero.title")}
        </h1>
        <p>{t("hero.description")}</p>
      </div>
      <div class="relative hidden md:block">
        <img src="/favicon.svg" alt="spark logo" />
      </div>
    </section>

    <section>
      <h2 class="text-h2">{t("integration.title")}</h2>
      <p>{t("integration.description")}</p>
      <ul class="mb-4 flex gap-4 py-4 overflow-x-scroll w-full">
        <IconCard
          href="https://docs.astro.build/en/guides/integrations-guide/alpinejs/"
          title="alpine.js"
          imgHref="/icons/alpinejs.svg"
          imgAlt="alpine.js integration guide"
        />
        <IconCard
          href="https://docs.astro.build/en/guides/integrations-guide/mdx/"
          title="MDX"
          imgHref="/icons/mdx.svg"
          imgAlt="MDX integration guide"
        />
        <IconCard
          href="https://docs.astro.build/en/guides/integrations-guide/sitemap/"
          title="sitemap"
          imgHref="/icons/sitemap.svg"
          imgAlt="sitemap integration guide"
        />
        <IconCard
          href="https://docs.astro.build/en/guides/integrations-guide/tailwind/"
          title="tailwind"
          imgHref="/icons/tailwind.svg"
          imgAlt="tailwind integration guide"
        />
        <IconCard
          href="https://docs.astro.build/en/guides/integrations-guide/vercel/"
          title="vercel"
          imgHref="/icons/vercel.svg"
          imgAlt="vercel integration guide"
        />
      </ul>
    </section>
  </main>
</Layout>
